@import url("https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700,700i|Roboto:400,700");
@import url('https://fonts.googleapis.com/css?family=Bitter|Cabin');
body {
  min-width: initial !important;
}
.protograph-col4-mode {
  background: transparent;
  height: 250px;
  z-index: 1;
  width: 300px;
  position: relative;
  padding: 12px;
  box-sizing: border-box;
  overflow: hidden;
}

.protograph-navbar-area{
  height: 70px;
  background: #a9a8a8;
}

.protograph-col4-map-area {
  background: lightgrey;
  height: 360px;
}

.protograph-no-value-color{
  fill: #D3D3D3;
}

/*.protograph-map-div{
  width: 420px;
  display: inline-block;
}*/
/*.region-outline{
  cursor: pointer;
  z-index: -1;
  fill-rule: nonzero;
}*/
.region-outline:hover {
  stroke: black;
  stroke-width: 1px;
  z-index: 100;
}
#protograph_tooltip{
  background-color:white;
  border: 1px solid #CCC;
  border-radius: 5px;
  pointer-events:'none';
  display:block;
  width:fit-content;
  height:fit-content;
  padding:5px 10px;
  position:absolute;
  transition: all 0.35s;
  font-size: 16px;
}



/*========= cover css =========*/

.stink-cover{
  width: 1260px;
  height: 430px;
  padding: 20px;
  padding-top: 85px;
  background: rgba(51,51,51,0.75);
  box-sizing: border-box;
  position: relative;
}

.single-map{
  width: 406px;
  display: inline-block;
  float: left;
  margin-right: 14px;
}

.third-map{
  margin-right: 0px;
  width: 380px;
}

.content-area{
  width: 150px;
  height: 260px;
  display: inline-block;
  float: left;
  /*background: #fafafa;*/
}

.map-area{
  height: 260px;
  width: 230px;
  display: inline-block;
  box-sizing: border-box;
}

.content-area{
  font-family: "cabin";
  font-weight: bold;
  color: white;
  padding-top: 70px;
  box-sizing: border-box;
  letter-spacing: 0.5px;
}

.content-area .pre-text{
  font-size: 14px;
  font-weight: normal;
}

.counter-area{
  padding: 3px 5px;
  width: 130px;
  background: rgba(0,0,0,0.2);
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
  height: 50px;
}

.content-area .counter-area{
  font-size: 48px;
}

.content-area .post-text{
  font-size: 24px;
}

.bar-chart{
  background: #EE1C25;
  height: 50px;
  min-width: 1px !important;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 0;
}

.counter-value{
  position: absolute;
  line-height: 45px;
}

.first-map .bar-chart{
  width: 100%;
}

/*.second-map .bar-chart{
  width: 17%;
}
*/
/*.third-map .bar-chart{
  width: 0.5%;
}*/

.cover-hint-text{
  font-size: 10px;
  font-family: "cabin";
  padding: 5px 10px;
  background: rgba(0,0,0,0.2);
  position: absolute;
  right: 20px;
  bottom: 20px;
  border-radius: 4px;
  color: white;
  letter-spacing: 0.4px;
  font-weight: 100;
  line-height: 16px;
  max-width: 310px;
}

.cover-title{
  font-size: 32px;
  font-family: "bitter";
  color: white;
  font-weight: bold;
  position: absolute;
  bottom: 20px;
  left: 20px;
  letter-spacing: 0.5px;
}


@media only screen and (max-width: 500px){
  .protograph-col4-mode {
    width: 100%;
  }
}
